.App {
  text-align: center;
}

.main{
  /* background-color: ivory; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center{
  background-color: ivory;
  margin: 30px;
  width: 33%;
  text-align: center;
  border-radius: 10px;
  /* height: 500%; */
}

input{
  /* border: 0;
  -webkit-appearance: none */
  height : 30px;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 3px;
  border-bottom-color: tomato;
  /* border-bottom: tomato; */
  /* border-bottom: 2px violet; */
  margin-bottom: 30px;
}

.addbtn:hover{
  color: green;
}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-left: 10px;
  padding-left: 20px;
}